{% extends 'base.html' %}
{% block body %}
<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: all;
    }
    .question-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        pointer-events: all;
    }
    .panel {
        font-size: large;
    }
    .btn {
        padding: 10px;
        border-radius: 5px;
        font-size: large;
        background-color: black;
        color: white;
    }

    .btn:hover {
        background-color: rgb(108, 163, 211);
    }
</style>

<div class="question-container container-fluid" >
    <div class="col-sm-12">
        <h3>Hello {{ user.username }}</h3>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
  <div class="panel panel-default">
    <pre>
        <h2>Rules & Regulations:</h2>
        1.All Questions Are Compulsory.
        2.You Cannot Submit Answer twice.
            Subjective- first submission will only be accepted and updated.
        3.Admin decision is final.
        4.Electronic gadgets are prohibited.
        5.All the Best!
    </pre>
  </div>
        <div class="col-sm-12" >
            <br>

                <!-- <button onclick="location.href='{% url 'quiz:quiz_category_list_all'  %}'" type="button" class="btn btn-success"> -->
                    <!-- <span class="glyphicon glyphicon-arrow-right"></span> -->
                    <button class="btn" type="submit" value="Play">
                    <a href="{% url 'welcome' %}" target="_blank" > Start Quiz </a> 
                </button>
            </a>
        </div>
</div>
</div>
{% endblock %}