{% extends 'base.html' %} {% block body %}
<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
  }
  .rbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    pointer-events: all;
    background-color: rgb(161, 192, 219);
    color: black;
  }
  .questionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    pointer-events: all;
    background-image: linear-gradient(black, rgb(3, 3, 48));
    color: white;
    padding: 15px;
    border: 5px solid transparent;
    border-image: linear-gradient(to right, rgb(7, 0, 7), rgb(10, 7, 56));
    border-image-slice: 1;
    padding: 25px;
    box-shadow: 5px 10px rgb(8, 2, 32);
  }
  .panel {
    padding: 15px;
    font-family: cursive;
  }

  .panel ol li {
    margin: 5px 0;
  }
</style>
<div class="rbody">
  <div class="questionContainer">
    <div class="col-sm-12">
      <h3 class="hello">Hello {{ user.username }}</h3>
    </div>
    <div class="panel">
      <h2>Rules & Regulations:</h2>
      <ol>
        <li>All Questions Are Compulsory.</li>
        <li>
          You Cannot Submit Answer twice. <br />
          Subjective- first submission will only be accepted and updated.
        </li>
        <li>Admin decision is final.</li>
        <li>Electronic gadgets are prohibited.</li>
        <li>All the Best!</li>
      </ol>
    </div>
  </div>
</div>

<script>
  let tlr = gsap.timeline({ delay: 1.5, defaults: { duration: 1 } });

  tlr
    .fromTo(
      ".questionContainer",
      { height: 0 },
      { height: "100%", ease: "power2.out" }
    )
    .from(".hello", {
      y: -100,
      opacity: 0,
      ease: "bounce",
    })
    .from(".panel", { x: -100, opacity: 0, ease: "expo.out" });
</script>
{% endblock %}
